* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    background-color: #7396b9;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.countdown-item {
    text-align: center;
    margin: 0 10px; /* Add margin between countdown items */
    font-size: 25px;
}

.countdown-item span {
    font-size: 2em;
    font-weight: bold;
    display: block;
}

/* Add responsive styles for smaller screens */
@media (max-width: 576px) {
    .countdown {
        flex-direction: column
    }
}